
@mixin breakpoint( $device ) {
	@if $device == phablet {
		@media ( min-width: $max-w__mobile ) {
			@content;
		}
	} @else if $device == tablet {
		@media ( min-width: $max-w__phablet ) {
			@content;
		}
	} @else if $device == laptop {
		@media ( min-width: $max-w__tablet ) {
			@content;
		}
	} @else if $device == large {
		@media ( min-width: $max-w__laptop ) {
			@content;
		}
	}
}

@mixin breakpoints( $device ) {
	@if $device == mobile {
		@media ( min-width: 0 ) and ( max-width: $max-w__mobile ) {
			@content;
		}
	} @else if $device == phablet {
		@media ( min-width: $max-w__mobile+1 ) and ( max-width: $max-w__phablet ) {
			@content;
		}
	} @else if $device == tablet {
		@media ( min-width: $max-w__phablet+1 ) and ( max-width: $max-w__tablet ) {
			@content;
		}
	} @else if $device == laptop {
		@media ( min-width: $max-w__tablet+1 ) and ( max-width: $max-w__laptop ) {
			@content;
		}
	} @else if $device == large {
		@media ( min-width: $max-w__laptop+1 ) and ( max-width: $max-w__large ) {
			@content;
		}
	}
}

.container {
	margin: 0 auto;
	display: block;
	padding: 0 1em;
	width: 100%;
	max-width: 100%;
	@include breakpoint( phablet ) {
		width: $max-w__mobile;
	}
	@include breakpoint( tablet ) {
		width: $max-w__phablet;
	}
	@include breakpoint( laptop ) {
		width: $max-w__tablet;
	}
	@include breakpoint( large ) {
		width: $max-w__laptop;
	}
	@media( min-width: $max-w__large ) {
		width: $max-w__large;
	}
}
